*,
::before,
::after{
  box-sizing: border-box;
}
 
body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.person_box-img{
  position: absolute;
  right: 100px;
  top: 165px;
  transition: transform 0.3s;
}
.person_box-img:hover{
  transform: scale(1.1);
}

.image_container{
  position: absolute;
  left: 100px;
  top: 165px;
  transition: transform 0.3s;
}
.image_container:hover{
  transform: scale(1.1);
}

.image_container1{
  position: absolute;
  left: 600px;
  top: 165px;
  transition: transform 0.3s;
}
.image_container1:hover{
  transform: scale(1.1);
}

.text_container{
  position: absolute;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  top: 110px;
  left: 20px;
}

.text_container1{
  position: absolute; 
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  top: 60px;
  left: 37px;
}

.mail{
  position: absolute; 
  font-size: 14px;
  font-weight: 600;
  text-align: justify;
  top: 120px;
  left: 37px;
}

.social_media_links{
  position: absolute;
  top: 200px;
  left: 37px;
  display: flex;
}

.person_links{
  margin-right: 33px;
  font-size: 30px;
  color: #000;
  transition: transform 0.2s;
}
.person_links:hover{
  transform: scale(1.1);
}



